PORT=3000
SESSION_SECRET=your_32_length_session_secret

# Postgres Credentials
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=yamp_db
DB_PORT=5432
DB_HOST=postgres_db

# Inside Docker, use the service name 'postgres_db' as the host
DATABASE_URL="postgresql://postgres:password@postgres_db:5432/yamp_db?schema=public"